.header__button-title {
    margin: 0;
    margin-top: 13.5px;
    margin-bottom: 38px;
    padding: 0;
    display: inline-block;
    color: #156963;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
}