.header__navigation {
    width: 92%;
    position: absolute;
    top: 40px;
    left: 56px;
    right: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    box-sizing: border-box;
}