.gallery__list {
    width: 130px;
    height: 35px;
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.gallery__list:not([multiple]) {
    background-image: url('../../../images/logo/chevron-down.svg');
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: bottom 11px right 12px;
}

