.header__arrow_type_next {
    margin: 0;
    margin-left: 8px;
    background-image: url('../../../../images/logo/arrow-front-outline.svg');
}

.header__arrow_type_next:hover {
    background-image: url('../../../../images/logo/arrow-front-hover.svg');
}